<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CH7: Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>Coder: Detravious Brinkley</h1>
    <form action="http://www.google.com/search">
      <div>
        Let's search Google:
        <!-- q happens to be the name of Google's required parameter -->
        <input type="text" name="q" value="Fit To Code Detravious Brinkley" />
        <input type="submit" value="Booyah!" />
      </div>
    </form>



    <form action="#">
      <div>
        Enter your ID and Password: <br />
        <input type="text" size="10" maxlength="8" /> ID <br />
        <input type="password" size="16" /> Password <br />
        <input type="submit" value="Log In" />
      </div>
    </form>


    <form action="#">
      <div>
        You can type in the text box <br />
        Testing the textarea element:
        <textarea name="testing" cols="30" rows="10">
            Type your comments here
        </textarea>
      </div>
    </form>


    <form action="#">
      <div>
        Checkboxes <br />
        What would you like to work on today:
        <label><input type="checkbox" name="Biceps" /> Biceps</label>
        <label><input type="checkbox" name="Triceps" /> Triceps</label>
        <label><input type="checkbox" name="Shoulders and Traps" /> Shoulders and Traps</label>
        <label><input type="checkbox" name="Abs" /> Abs</label>
        <label><input type="checkbox" name="Chest" /> Chest</label>
        <label><input type="checkbox" name="Legs" checked="checked" /> Legs</label>
      </div>
    </form>


    <form action="#">
      <div>
        What is your current weight goal? Would you like to <br />
        <label><input type="radio" name="goal" value="maintain" /> Maintain</label>
        <label><input type="radio" name="goal" value="lose" /> Lose</label>
        <label><input type="radio" name="goal" value="gain" /> Gain</label>
      </div>
    </form>

    <form class="" action="#" method="post">
      <section class="section">
        Select a workout partner <br>
        <select class="" name="workoutPartner">
          <option value="">Detravious Brinkley</option>
          <option value="">Ikenna Ngwu</option>
          <option value="">Emmanuel Nwosu</option>
          <option value="">Lance Reese</option>
        </select>
      </section>
    </form>

    <form class="" action="#" method="post">
      <section class="section">
        Select multiple workout partners by holding the command button (for macs) and clicking on the partners.<br>
        <select name="workoutPartners[]" size="4" multiple="multiple">
          <option value="">Detravious Brinkley</option>
          <option value="">Ikenna Ngwu</option>
          <option value="">Emmanuel Nwosu</option>
          <option value="">Lance Reese</option>
        </select>
      </section>
    </form>

    <form class="" action="#" method="post">
      <section class="section">
        Select multiple workout partners by by section.<br>
        <select name="upperBody">
          <optgroup label="upper">
            <option value="">Detravious Brinkley</option>
            <option value="">Ikenna Ngwu</option>

          </optgroup>
          <optgroup label=" lowerBody ">
            <option value="">Emmanuel Nwosu</option>
            <option value="">Lance Reese</option>

          </optgroup>

        </select>
      </section>
    </form>

  </body>
</html>
