/* body {
  background-color: brown;
  background-image: url('img/FittoCode.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

} */

body, html{
  height: 100%;
  margin: 0;
}


.col-xs-2:hover {
  transform: scale(1.1);
}

.fixed-bottom{
  position: sticky;
}

.col-xs-2{
  padding-right: 30px;
}
