
body{
  background-color: rgb(252, 250, 236);

}

h1{
  color: rgb(63, 35, 7);
  background-color: rgb(198, 187, 163);
  padding: 10px;
  font-family: "Verdana";

}

h2{
  color: rgb(93, 14, 7);
  font-style: italic;
}

dl{
  padding-left: 30px;
  pad

}
