body{
  background-color: rgb(255, 255, 241);
  font-family: "Verdana";


}
h1{
  background-color: rgb(93, 14, 7);
  color: rgb(255, 255, 241);
}
h2{
  color: rgb(93, 14, 7);

}

h6{
  padding-left: 20px;
  font-weight: normal;

}

.padRight{
  margin-top: 0px;
  padding-left: 335px;
}

.wrong{
  color: red;
  font-weight: bold;
}




/* italic text in h6 */
